<%= provide(:title, 'Login') %>
<div class="row">
  <div class="span12">
    <div class="well">
      <h2 class="hb">Sign in</h2>

      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
          <%= f.input :email, :hint => "The email you signed up with.", :required => false, :autofocus => true %>
          <%= f.input :password, :hint => "If you forgot you password please click the link below.", :required => false %>
          <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>

          <div class="form-actions"><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
      <% end %>
      <h6 class="hb">Helpful Links</h6>
      <%= render :partial => "users/links" %>
    </div>
  </div>
</div>