<div class="row">
  <div class="span12">
    <h2 class="hb">Search results for: <%= params[:query] %></h2>
  </div>
</div>
<div class="row">
  <div class="span12">

    <%= render 'shared/search' %>
  </div>
</div>
<% @users.each do |user| %>
    <div class="row">
      <div class="span12">
        <div id="main-box" class="well">
          <h1><%= link_to user.artist_name, user %></h1>

          <h3>59 fans / 2,304 total plays / 217 plays today</h3>

          <p><%= user.city %>, <%= user.state %></p>

          <p>
            <a href="#" class="btn btn-primary"><i class="icon-user icon-white"></i> Follow</a>
            <a href="#" class="btn btn-warning"><i class="icon-comment icon-white"></i> Message</a>
          </p>
        </div>
      </div>

    </div>

    <hr>
<% end %>

<%= will_paginate @users %>