<%= provide(:title, 'Edit Video') %>
<div class="row">
  <div class="span6 offset3">
    <ul class="breadcrumb">
      <li>
        <%= link_to "Video Dashboard", video_dashboard_url %>
        <span class="divider">/</span>
      </li>


      <li class="active">Edit Video</li>
    </ul>
    <div class="well">
      <%= link_to "Remove".html_safe, user_video_url(@user, @video), :class => "btn btn-danger btn-mini pull-right", :confirm => "Are you sure you want to delete this video?", :method => :delete %>

      <%= simple_form_for [@user, @video], :html => {:class => 'form-vertical'} do |f| %>
          <%= devise_error_messages! %>
          <%= f.input :title %>
          <%= f.input :description, :input_html => {:class => "span4", :rows => 4} %>
          <hr>
          <%= f.input :video %>


          <div class="form-actions">
            <%= f.submit "Submit", :class => "btn btn-primary" %>
            <%= link_to "Back <i class='icon-arrow-left'></i>".html_safe, :back, :class => "btn btn-inverse" %>
          </div>
      <% end %>

    </div>
  </div>
</div>
