<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @video.user %>
</p>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Description:</b>
  <%= @video.description %>
</p>

<p>
  <b>Youtube url:</b>
  <%= @video.youtube_url %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
