<%= provide(:title, 'Edit Song') %>
<div class="row">
  <div class="span6 offset3">
    <ul class="breadcrumb">
      <li>
        <%= link_to "Album Dashboard", album_dashboard_url %>
        <span class="divider">/</span>
      </li>
      <li>
        <%= link_to "#{@album.title}", user_album_songs_path(@album.user_id, @album) %>
        <span class="divider">/</span>
      </li>
      <li class="active">Editing <%= @song.title %></li>
    </ul>

    <div class="well">

      <%= simple_form_for [@artist, @album, @song], :html => {:class => 'form-vertical'} do |f| %>
          <%= devise_error_messages! %>

          <%= f.input :title, :hint => "The title of the song." %>
          <%= f.input :song, :hint => "MP3's only for now :)" %>
          <div class="btn-group">
            <%= link_to "<i class='icon-play'></i>".html_safe, "#", :class => "btn btn-danger btn-mini" %><%= link_to "Play Song", "#", :class => "btn  btn-danger disabled btn-mini" %>
          </div>
          <hr>
          <div class="pull-right">
            <h6>Current Artwork</h6>
            <%= image_tag @song.artwork.url(:avatar) %>
          </div>
          <%= f.input :artwork, :hint => "5MB limit | JPEG/PNG only." %>
          <%= f.input :lyrics, :input_html => {:class => "span4", :rows => 4} %>


          <div class="form-actions">
            <%= f.submit "Submit", :class => "btn btn-primary" %>
            <%= link_to "Back <i class='icon-arrow-left'></i>".html_safe, :back, :class => "btn btn-inverse" %>
          </div>
      <% end %>

    </div>
  </div>
</div>
