<%= provide(:title, 'Edit Song') %>
<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<h2 class="hb">Edit <%= @song.title %> for album <%= @songAlbum.title %></h2>

			<%= simple_form_for [@album, @song], :html => {:class => 'form-vertical' } do |f| %>
			  <%= devise_error_messages! %>

			  <%= f.input :title, :hint => "The title of the song." %>
			  <%= f.input :song, :hint => "MP3's only for now :)" %>
			  <%= f.input :artwork, :hint => "5MB limit | JPEG/PNG only." %>
			  <%= f.input :lyrics, :input_html => { :class => "span4", :rows => 4 } %>


			  <div class="form-actions">
			  	<%= f.submit "Submit", :class => "btn btn-primary" %>
			  	<%= link_to "Back <i class='icon-arrow-left'></i>".html_safe, :back, :class => "btn btn-inverse" %>
			  </div>
			<% end %>

		</div>
	</div>
</div>
