<%= provide(:title, 'Edit Photo') %>
<div class="row">
  <div class="span6 offset3">
    <ul class="breadcrumb">
      <li>
        <%= link_to "Gallery Dashboard", gallery_dashboard_url %>
        <span class="divider">/</span>
      </li>


      <li class="active">Edit Photo</li>
    </ul>
    <div class="well">
      <%= link_to "Remove".html_safe, user_photo_url(@user, @photo), :class => "btn btn-danger btn-mini pull-right", :confirm => "Are you sure you want to delete this photo?", :method => :delete %>

      <%= simple_form_for [@user, @photo], :html => {:class => 'form-vertical'} do |f| %>
          <%= devise_error_messages! %>
          <%= f.input :caption %>

          <h6>Current Photo</h6>
          <%= image_tag @photo.image.url(:small) %>


          <div class="form-actions">
            <%= f.submit "Submit", :class => "btn btn-primary" %>
            <%= link_to "Back <i class='icon-arrow-left'></i>".html_safe, :back, :class => "btn btn-inverse" %>
          </div>
      <% end %>

    </div>
  </div>
</div>
