<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= full_title(yield(:title)) %></title>

  <%= render 'layouts/meta' %>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/favicons' %>

</head>
<body>

<%= render 'layouts/navbar' %>

<div class="container">

  <%= render 'layouts/messages' %>
  <%= yield %>


</div>
<!-- /container -->
<%= render 'layouts/footer' %>

<%= render 'layouts/javascripts' %>
<script type="text/javascript">
    $(document).ready(function () {

        new jPlayerPlaylist({
            jPlayer:"#jquery_jplayer_1",
            cssSelectorAncestor:"#jp_container_1"
        }, [
            <% @songs.each do |song| %>
            {
                title:"<%= song.title %>",
                mp3:"<%= song.song.url %>"
            },
            <% end %>

        ], {
            swfPath:"assets/javascripts",
            supplied:"oga, mp3",
            wmode:"window"
        });

    });
</script>
</body>
</html>